#define port
SERVER_PORT = 8000

#connect local mongo
MONGODB_USER="root"
MONGODB_PASSWORD="root"
MONGODB_HOST="127.0.0.1"
MONGODB_PORT="27017"
MONGODB_NAME="express_test"

# connect mongo cloud cluster 
IS_MONGODB_CLUSTER = true;
MONGODB_CLUSTER_URL = "cluster url here"

#connect mariadb | mysql
DB_HOST="127.0.0.1"
DB_USER="root"
DB_PASSWORD="root"
DB_NAME="express_test"
DB_LOGGING=false
DB_TIMEZONE="Etc/GMT0"